
* {
    margin: 0;
    padding: 0;
}

html,
body,
#app{
    width: 100%;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    background-color: #f2f2f2;

}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    display: block;
}

li {
    list-style: none;
}

i.index {
    background: url("../images/index.png") no-repeat center /100%;
}

i.ticket {
    background: url("../images/ticket.png") no-repeat center /100%;
}

i.equip {
    background: url("../images/equip.png") no-repeat center /100%;
}
i.fruit {
    background: url("../images/equip.png") no-repeat center /100%;
}
i.order {
    background: url("../images/order.png") no-repeat center /100%;
}

i.user {
    background: url("../images/user.png") no-repeat center /100%;
}
i.banner {
    background: url("../images/banner.png") no-repeat center /100%;
}

i.indexActive {
    background: url("../images/index-active.png") no-repeat center /100%;
}

i.ticketActive {
    background: url("../images/ticket-active.png") no-repeat center /100%;
    transform: scale(1.2);
}

i.equipActive {
    background: url("../images/equip-active.png") no-repeat center /100%;
    transform: scale(1.2);
}

i.orderActive {
    background: url("../images/order-active.png") no-repeat center /100%;
    transform: scale(1.2);
}

i.userActive {
    background: url("../images/user-active.png") no-repeat center /100%;
    transform: scale(1.2);
}
i.bannerActive {
    background: url("../images/banner-active.png") no-repeat center /100%;
    transform: scale(1.2);
}

a {
    color: #333;
    text-decoration: none;
}

img {
    display: block;
    width: 220px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.primary {
    color: #409eff;
}

.danger {
    color: #f56c6c;
}

.success {
    color: #67c23a;
}

.warning {
    color: #e6a23c;
}

.info {
    color: #909399;
}

.tip p {
    color: #f56c6c;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}
